@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:#ed2647;
    --bot-icon:#f44562;
    --form-color:rgba(60, 4, 4, 0.829);
    --send-button-hover:var(--primary-color);
    --send-button:black;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
}

::selection{
    color: #fff;
    background: skyblue
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}

.wrapper{
    visibility: visible;
    position:absolute;
    bottom:30px;
    right:20px;
    width: 370px;
    background:var(--form-color);
    border-radius: 10px;
    border: 1px solid lightgrey;
    border-top: 0px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.449);
    transform: scale(0);
    /* border-radius:10px; */
}
.open{
    transform: scale(1);
}

.wrapper .title{
    background:linear-gradient(95deg,var(--primary-color),rgb(224, 28, 60));
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 2px solid #fefefe;
    border-top:1px solid #fefefebe;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.293);
    border-radius: 10px;
}
.title img{
    width:25px;
    transform:translate(-6px,8px);
    /* border-radius:10px; */
}
.close{
    position:absolute;
    top:10px;
    right: 10px;
    outline:none;
    border:none;
    background: transparent;
    color:white;
    font-style: bold;
    cursor: pointer;


}
.wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: var(--bot-icon);
}
.wrapper .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
    
}
.form .inbox .msg-header p{
    color: #fff;
    background: #ee4460;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    padding: 8px 10px;
    font-size: 12px;
    word-break: break-all;
}
.form .user-inbox .msg-header p{
    color: #333;
    background: #efefef;
    border-radius:10px 10px 0px 10px;
}

.wrapper .typing-field{
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background:var(--primary-color);
    border-top: 2px solid #d9d9d9;
    border-radius: 0 0 10px 10px;
}
.wrapper .typing-field .input-data{
    height: 40px;
    width: 335px;
    position: relative;
}
.wrapper .typing-field .input-data input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}
.typing-field .input-data input:focus{
    border: 2px solid rgb(247, 152, 152);
}
.input-data input::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
    color: #bfbfbf;
}
.wrapper .typing-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: var(--send-button);
    border: 1px solid black;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrapper .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data button:hover{
    background: var(--send-button-hover);
}
.chat-app-btn{
    outline:none ;
    display: flex;
    justify-content: center;
    align-items: center;
    border :none;
    background:var(--primary-color);
    color:white;
    height:70px;
    width:70px;
    font-size:40px;
    border-radius:50%;
    position:absolute;
    bottom:20px;
    right: 20px;
    cursor: pointer;
    visibility: hidden;
}
