.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.form-outline 
{
    position: relative;
}
  
.form-outline input[type="text"],
.form-outline input[type="email"],
.form-outline input[type="password"] 
{
                                               
  font-size: 1rem;
  width: 100%;
  padding: 0.6rem 1rem;
   border: 1px solid lightgray;
  border-radius: 20px; 
  color: #000;                                                                                                                                                                                                                                                                                        
}
  
  .form-outline input[type="text"]:focus,
  .form-outline input[type="email"]:focus,
  .form-outline input[type="password"]:focus {
    border-color: #80bdff;
    
  }
  
.mb-4 
{
    margin-bottom: 1.5rem!important;
}
  

/* .form-outline{
    margin-bottom: 4px;
} */

@media (min-width: 1200px) 
{
    .col-xl-10 
    {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
}

@media (min-width: 992px) 
{
    .col-lg-6 
    {
      flex: 0 0 50%;
      max-width: 50%;
    }
}
 
/* .Login {
    background-color: #ee7724;
    columns: xl -10px;
    columns:l --6px ;
    
}
 */

.container 
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
.py-5 
{
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
  
.h-100 
{
    height: 100%!important;
}
  
.card{
    border-radius: 3;
    text-emphasis-color: black;
    padding: 5vmax;

}

.img{
    width: 185px;
}

.btn{
   display: block;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1;
   text-align: center;
   text-transform: uppercase;
  
   border:empty;
   border-radius: 0.28rem;
   padding: 0.5rem 1rem;
   margin-bottom: 0.05rem;
}

.btn-primary 
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

.gradient-custom-2:hover 
{
    background-position: right center;
}

.gradient-custom-2 
{
    background: linear-gradient(to right, #ee0979, #ff6a00);
    background-color: #ff6a00;
    background-size: 200% auto;
    transition: 0.5s;
}

.text-muted 
{
    color: #6c757d;
    text-decoration: none;
 }
  
.text-muted:hover 
{
    color: #5a5e62;
    text-decoration: underline;
}

.btn-outline-danger 
{
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}
  
.btn-outline-danger:hover 
{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
  
.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
  

.card 
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
  
.rounded-3 
{
    border-radius: .3rem!important;
}
  
.text-black 
{
    color: #000 !important;
}

 .col-lg-6 
{
    flex: 0 0 50%;
    max-width: 50%;
}
  
.d-flex 
{
    display: flex !important;
}
  
.align-items-center 
{
    align-items: center !important;
} 
  
/* .gradient-custom-2 
{
    background-image: linear-gradient(45deg, #405de6 0%, #5851db 50%, #833ab4 100%);
} */
  

/* .text-white 
{
    color: #fff !important;
}
  
.px-3 
{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
  
.py-4 
{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
  
.p-md-5 
{
    padding: 3rem !important;
}
  
.mx-md-4
{
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}
   */

/* .mb-4 
{
    margin-bottom: 1.5rem !important;
}

.small 
{
    font-size: 0.875rem !important;
}
  
.mb-0 
{
    margin-bottom: 0 !important;
} */
  
  
  





